<h2>Login</h2>

<%= form_with url: login_path, method: :post do |f| %>
  <label>Email:</label>
  <%= f.email_field :email, required: true %>

  <label>Password:</label>
  <%= f.password_field :password, required: true %>

  <%= f.submit "Login" %>
<% end %>
